<h2>Profile</h2>

<p>Wellcome, {{user.username}}!</p>

<div>
    <a href="/main">Main</a>

    <a href="/private">Private</a>
</div>

<form action="/logout" method="post">
<button type="submit">Logout</button>
</form>